<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Status <%= status %>
    </h1>
    <% if ( nutrisi < 1000) { %>
        <p>Nutrisi Rendah</p>
        <% } else { %>
            <p>Nutrisi Aman</p>
            <% } %>
</body>

</html>